<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843003625940-gacupl96f7ra5bpo15rb7a42i0d9s8p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843003625940-kcavo4qgalkb6pge0klb96de49ob6234</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843003625940-ti3f6m88lrli8uhpfci6ijfck8aagt88.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAV-QntIR2wWAsK4dAigy4ANASTvgDaYvw</string>
	<key>GCM_SENDER_ID</key>
	<string>843003625940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.app.habidoApp</string>
	<key>PROJECT_ID</key>
	<string>habido-e778a</string>
	<key>STORAGE_BUCKET</key>
	<string>habido-e778a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843003625940:ios:0cd39e62c093b2302c5641</string>
</dict>
</plist>